<section>
    <div class="p-3 mb-2 div-bg text-dark">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="elements" id="myDIV">
                    <h3>What you want to do???</h3>
                    <ul>
                        <li><a href="/admin/add-product">Add Products</a></li>
                        <li><a href="/admin/get-all-products">Edit Products</a></li>
                        <li><a href="/admin/get-all-products">Show all products</a></li>
                        <li><a href="/admin/get-all-products">Delete Products</a></li>
                        <li><a href="/admin/get-all-users">Show all users</a></li>
                        <li><a href="/admin/get-order-history">Orders history</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-start mt-5">
                    <div class="admin-border">
                        <h2>Welcome Admin</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>